<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || 'Welcome' %></title>
    <style>
        html,
        body{
            width: 100%;
            height: 100%;
            margin:0;
            padding: 0;
            background-color: #42b983;
            color: azure;
        }
        .page{
            text-align: center;
            max-width: 500px;
            margin: 100px auto;
        }

        .page ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .page h2,
        .page h4{
            font-size: 2rem;
            margin: 0 0 1rem;
            color: #2c3e50
        }

        .page h4{
            font-size: 1.5rem;
            margin-top: 2.5rem;
        }
    </style>
</head>
<body>
    <div class="page">
        <h2>Welcome to our modern nodejs page</h2>
        <p>With this starter you don't need to spending hours in your project</p>
        <h4>Some of features of this project</h4>
        <ul>
            <li>Designed for API & Graphql</li>
            <li>Auth System</li>
            <li>...</li>
        </ul>
    </div>
</body>
</html>